In [1]:
import pickle
with open('model.pickle','rb') as model:
    mlmodel = pickle.load(model)

In [2]:
mlmodel.predict([[ 2021, 54000,    10,    44,     3,    57,     1,     0,     0]])

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3342070.46511096])

In [7]:
cnt1 = 0
for x in range(50,10000):
    cnt = 0
    for i in range(1,x+1):
        if x%i==0:
            cnt = cnt+1
    if cnt==2:
        cnt1 = cnt1+1
print(cnt1)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/0f/msfb92yx2bg7260p3qlf8n7m0000gn/T/ipykernel_80753/1059443052.py", line -1, in <module>
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
           ^^^^^
  File "/Users/beautyyadav/Library/Python/3.11/lib/python/site-packages/executing/executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

True

In [16]:
x = 'S12k90j5$7pq'
special_characters = [
    '!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '-', '_', '=', '+', '[', ']', '{', '}', '\\',
    '|', ';', ':', '\'', '\"', ',', '.', '<', '>', '/', '?', '`', '~'
]
s = ''
sum1 = 0

for i in x:
    if i.isnumeric():
        s = s+i
    elif (i.isalpha() or i in special_characters) and len(s)!=0:
        sum1 = sum1+int(s)
        s = ''
print(sum1)

114

In [24]:
g = {1,2,3,"hello","new",2,3,1,2}

In [27]:
g

{1, 2, 3, 'hello', 'new'}

In [47]:
g = {1,2,3,3,4,5,4,'hello', 'new'}
g

{1, 2, 3, 4, 5, 'hello', 'new'}

In [33]:
k.difference(g)

{5}

In [34]:
s = {1,2}

In [35]:
s.add(5)

In [36]:
s

{1, 2, 5}

In [37]:
s.pop()

1

In [39]:
s.pop()

2

In [51]:
d = {"sid":20,"sname":"Xyz","marks":[7.5,8.5],20:"nothing",20:"Hello",20:"new"}

In [55]:
d['sname'] = "jhon"

In [56]:
d

{'sid': 20, 'sname': 'jhon', 'marks': [7.5, 8.5], 20: 'new'}

In [57]:
d['email'] = 'jhon@gmail.com'

In [58]:
d

{'sid': 20,
 'sname': 'jhon',
 'marks': [7.5, 8.5],
 20: 'new',
 'email': 'jhon@gmail.com'}

In [59]:
d['email'] = 'xyz@gmail.com'

In [60]:
d

{'sid': 20,
 'sname': 'jhon',
 'marks': [7.5, 8.5],
 20: 'new',
 'email': 'xyz@gmail.com'}

In [61]:
g = {1:2,3:4}

In [64]:
g[5] = 10

In [65]:
g

{1: 2, 3: 10, 5: 10}

In [66]:
g.pop(1)

2

In [68]:
x = 100

In [69]:
g = {1:x,2:x}

In [70]:
g

{1: 100, 2: 100}

In [71]:
g = {}

In [74]:
g[1] = 10
g[2] = 20

In [75]:
g

{1: 10, 2: 20}

In [77]:
for i in range(1,11):
    g[i] = i*10

In [78]:
g

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}

In [4]:
import sqlite3

conn = sqlite3.connect('contactus.db')
cur = conn.cursor()
cur.execute('''
CREATE TABLE CONTACT(
            NAME VARCHAR(40),
            EMAIL VARCHAR(50),
            COUNTRY VARCHAR(50),
            STATE VARCHAR(50),
            MESSAGE TEXT
);
''')
conn.commit()

OperationalError: table CONTACT already exists

In [6]:
x = 10
z = 200

f"hello {z} your marks is {x}"

'hello 200 your marks is 10'

In [2]:
# get the data in this format
# {1:2,3:4,5:6,7:8,9:10......................99:100}

# print below pattern
#              *
#              **
#              ***
#              ****
#              *****
#              ******
#              *******
#**********************
#-----------------------O~
#**********************
#              *******
#              ******
#              *****
#              ****
#              ***
#              **
#              *

In [4]:
tabl = {}
for i in range(2,11):
    li = []
    for j in range(1,11):
        li.append(i*j)
    tabl[i] = li

In [5]:
tabl

{2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 4: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 6: [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 7: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 8: [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 9: [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 10: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}